[*.cs]

# IDE0019: Use pattern matching
csharp_style_pattern_matching_over_as_with_null_check = true:none

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = all:none

# IDE0028: Simplify collection initialization
dotnet_style_collection_initializer = true:none
